<h3>Ciudades</h3>
<style>
    #mydiv {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: grey;
        opacity: .8;
    }

</style>
<div data-ng-app data-ng-controller="CiudadesController" class="container">
    <div class="alert alert-danger" ng-show="formError">
                        <strong>Error! </strong>{{errorMessage}}.
                    </div>


    <p data-ng-hide="addMode"><a data-ng-click="toggleAdd()" href="javascript:;" class="btn btn-primary">Agregar nueva ciudad</a></p>
    <form name="addCity" data-ng-show="addMode" style="width:600px;margin:0px auto;">
    <div class="dialog dialog-success">
        <table class="table table-striped table-hover">
        <tr><td style="text-align: left;"><label>Código:</label></td><td><input type="text" data-ng-model="newCity.code" required /></td></tr>
        <tr><td style="text-align: left;"><label>Nombre:</label></td><td><input type="text" data-ng-model="newCity.name" required /></td></tr>
        <tr><td style="text-align: left;"><label>Descripción:</label></td><td><input type="text" data-ng-model="newCity.description" required /></td></tr>
        <tr><td style="text-align: left;"><label>Habilitada:</label></td><td><input type="checkbox" ng-model="newCity.enabled" required /></td></tr>
        </table>
        <input type="submit" value="Agregar" data-ng-click="add()" data-ng-disabled="!addCity.$valid" class="btn btn-primary" />
        <input type="button" value="Cancelar" data-ng-click="toggleAdd()" class="btn btn-primary" />
        <br /><br />
    </div>
    </form>
    <table class="table table-bordered table-hover" style="width:800px">
        <tr>
            <td>Codigo</td>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Habilitada</th>
        </tr>

        <tr data-ng-repeat="newCity in ciudades">
            <td>
                <p data-ng-hide="mostrarCiudad($index)">{{ newCity.code }}</p>
                <input data-ng-show="mostrarCiudad($index)" type="text" data-ng-model="newCity.code" />
            </td>
            <td>
                <p data-ng-hide="mostrarCiudad($index)">{{ newCity.name }}</p>
                <input data-ng-show="mostrarCiudad($index)" type="text" data-ng-model="newCity.name" />
            </td>
            <td>
                <p data-ng-hide="mostrarCiudad($index)">{{ newCity.description }}</p>
                <input data-ng-show="mostrarCiudad($index)" type="text" data-ng-model="newCity.description" />
            </td>
            <td>
                <p data-ng-hide="mostrarCiudad($index)">{{ newCity.enabled }}</p>
                <label data-ng-show="mostrarCiudad($index)">Habilitada:</label><input data-ng-show="mostrarCiudad($index)" type="checkbox" ng-model="newCity.enabled" required />
            </td>
            <td>
                <p data-ng-hide="mostrarCiudad($index)">
                <a href="javascript:;" class="btn btn-sm btn-primary" data-ng-click="toggleEdit(newCity,$index)"><span class="fui-new"></span>&nbsp;&nbsp;Editar</a>
                </p>
                <p data-ng-show="mostrarCiudad($index)">
                <a href="javascript:;" class="btn btn-sm btn-primary" data-ng-click="save(newCity)"><span class="fui-check-inverted"></span>&nbsp;&nbsp;Guardar</a>
                <a href="javascript:;" class="btn btn-sm btn-primary" data-ng-click="toggleEdit(newCity,$index)"><span class="fui-cross-inverted"></span>&nbsp;&nbsp;Cancelar</a>
                </p>
            </td>

        </tr>
    </table>
    <hr />

</div>